#gameContainer{
    text-align: center;
}
#gameBoard{
    border: 3px solid;
}
#score{
    font-size: 100px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#resetBtn{
    font-size: 22px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 100px;
    height: 50px;
    border: none;
    background-color: black;
    color: white;
    border-radius: 15px;
    cursor: pointer;
}

@media (max-width: 600px) {
    canvas {
        width: 100%;
    }
}
